html, body {
	position: relative;
	overflow-x: hidden !important;
}

body {
	scrollbar-width: none;       /* Firefox */
	-ms-overflow-style: none;    /* Internet Explorer и Edge */
  }
  
  body::-webkit-scrollbar {
	display: none;               /* Chrome, Safari и Opera */
  }

body{
	margin: 0;
	padding: 0;
}

*{
	font-family: Edensor;
	user-select: none;
}


#hero{
	background-image: url('Assets/hero-bg.webp');
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	max-height: 100vh;
	height: 100vh;
	padding: 66px 70px 50px;
	min-height: 500px;
}
.hero-main-row{
	height: 100%;
	max-height: 524px;
}

.name-container{
 	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	height: 100%;
}

.hero-notice{
	font-size: 24px;
	font-weight: 400;
	line-height: 29.42px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

.name-heading{
	text-transform: uppercase;
	font-size: 72px;
	font-weight: 400;
	line-height: 88.27px;
	letter-spacing: -0.6000000238418579px;
	text-align: center;
	color: #FFFFFF;
}

.date-container-absolute{
	display: flex;
	align-items: center;
	position: absolute;
	top: 60px;
	left: 70px;
	gap: 30px;
	height: auto;
}

.date-container-relative{
	float: left;
	display: flex;
	align-items: center;
	gap: 30px;
	height: auto;
}

.date-container-absolute hr,
.date-container-relative hr{
	width: 2px;
	background-color: #FFFFFF;
	border: none;
	margin: 0;
	height: 186px;
}

.timer{
	gap: 36px;
	height: min-content !important;
	flex: none;
}

.hero-date{
	font-size: 60px;
	font-weight: 400;
	line-height: 73.56px;
	text-align: left;
	color: #FFFFFF;
}

.time{
	font-size: 80px;
	font-weight: 400;
	line-height: 98.08px;
	letter-spacing: -0.6000000238418579px;
	text-align: left;
	color: #FAFAFA;
}

.timer-label{
	font-size: 30px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: -0.6000000238418579px;
	text-align: center;
	color: #FAFAFA;
}

.location-paragraph-container p{
	margin: 80px auto 0;
	max-width: 477px;
	font-size: 30px;
	font-weight: 400;
	line-height: 36.78px;
	text-align: center;
}
.location-img-container{
	height: 618px;
	display: flex;
	align-items: center;
}
#slider-cover-img{
	z-index: 2;
}
.swiper {
	width: 372px;
	height: 434px;
	opacity: 0;
	z-index: 1;
	position: absolute;
	transition: opacity 1.5s ease; /* Smooth transition for opacity */
}

.swiper-slide {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 18px;
	font-size: 22px;
	font-weight: bold;
	color: #fff;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}

#slide1 {
	background-image: url("Assets/slide3.webp");
}

#slide2 {
	background-image: url("Assets/slide2.webp");
}

#slide3 {
	background-image: url("Assets/slide1.webp");
}

#slide4 {
	background-image: url("Assets/slide4.webp");
}

#slide5 {
	background-image: url("Assets/slide5.webp");
}
#slide6 {
	background-image: url("Assets/slide6.webp");
}
.location-img-container img{
	cursor: pointer;
	display: block;
	margin: 80px auto 0;
}
.first-event{
	margin-top: 30px;
}
.location-container h2{
	margin: 100px auto 0;
	font-size: 48px;
	font-weight: 400;
	line-height: 58.85px;
	letter-spacing: -0.6000000238418579px;
	text-align: center;

}

.location-container hr{
	height: 87px;
	width: 1px;
	border: none;
	background: #000000;
}

.event-time{
	margin-top: 2px;
	font-size: 40px;
	font-weight: 400;
	line-height: 49.04px;
	letter-spacing: -0.6000000238418579px;
}

.event{
	margin-top: 8px;
	font-family: Poppins;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
}

.location{
	margin-top: 4px;
	font-family: Poppins;
	font-size: 24px;
	font-weight: 400;
	line-height: 36px;
	text-align: center;
	gap: 0;
}

.restaurant-bg{
	margin-top: 80px;
	background-image: url('Assets/restaurant.webp');
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	max-height: 100vh;
	height: 100vh;
	min-height: 500px;
}

.video-row{
	margin-top: 15px;
}

.second-events{
	margin-top: 90px;
}

footer{
	padding: 80px 0 60px;
}

#playButton{
	cursor: pointer;
	background: none;
	border: none;
	right: 10px;
	bottom: 10px;
	z-index: 111;
	padding: 0;
}

#playButton img{
	width: 50px;
}



  #extra-fields {
    display: none;
  }
  #extra-fields-message {
    display: none;
  }

  #guests {
    display: none;
  }

  form {
	background: transparent;
	text-align: center;
	padding: 20px 0;
  }
  
  input, textarea, select {
	width: calc(var(--vw, 1vw) * 80);
	margin: 12px auto;
	background: transparent;
	border: none;
	border-bottom: 2px solid #ccc;
	padding: 8px 5px;
	font-size: 15px;
	transition: border-color 0.3s ease;
  }
  
  input:focus, textarea:focus, select:focus {
	outline: none;
	border-bottom-color: #000; /* можно любой акцентный цвет */
  }
  
  textarea {
	resize: none;
	min-height: 40px;
  }
  
  button {
	background-color: #000;
	color: white;
	border: none;
	border-radius: 25px;
	padding: 12px 50px;
	font-size: 16px;
	margin-top: 20px;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  button:hover {
	background-color: #333;
  }
  
  .form {
	font-size: 20px;
	margin-bottom: 20px;
	font-family: 'Gayane_Bold', serif;
  }

  .form_foot {
	font-size: 13px;
	margin-top: 20px;
	font-family: 'Gayane_Bold', serif;
  }

  .form-a {
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 16px;
	letter-spacing: 3px;
  }
  

  .radio-group {
	display: flex;
	/* flex-direction: column; */
	align-items: flex-start;
	margin: 10px auto;
	margin-bottom: -10px;
	gap: 20px;
	width: fit-content;
	font-size: 16px;
}

.radio-group label {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	cursor: pointer;
	font-family: 'Edensor', sans-serif;
	font-size: 12px;
}

.radio-group input[type="radio"] {
	appearance: none;
	width: 14px;
	height: 14px;
	border: 1px solid #000;
	border-radius: 50%;
	margin-right: 12px;
	position: relative;
	background-color: transparent;
	cursor: pointer;
  }
  
  .radio-group input[type="radio"]:checked::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 5px;
	height: 5px;
	background-color: white; /* "дырка" по центру */
	border-radius: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 0 0 4px #000; /* обводка внешняя — как контур кольца */
  }
  
