/* Общие стили */
html, body {
    /* margin: 0; */
    /* padding: 0; */
    height: auto;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    background: rgb(255, 255, 255);
  }

  @font-face {
    font-family: 'Dzeragir';
    src: url('fonts/Dzeragir.otf') format('truetype');
  }

  body {
    scrollbar-width: none;         /* Firefox */
    -ms-overflow-style: none;      /* IE и Edge */
  }

  body {
    overscroll-behavior-y: none;
  }
  
  #scroll-wrapper {
    position: relative;
    width: 100%;
  }
  
  body::-webkit-scrollbar {        /* Chrome, Safari */
    display: none;
  }
  
  .parallax-container {
    position: fixed;
    width: 100%;
    height: 100%;
  }
  
  
  .parallax-images {
    position: fixed;  /* ← раньше было fixed */
    top: 0;
    left: 0;
    width: 70%;
    height: 300%;
    z-index: 20;
  }

  .parallax-images img {
    position: absolute;
    object-fit: cover;
    /* opacity: 0.3; */
    /* will-change: auto;
    transform: translateZ(0); */
    /* will-change: transform; */
  }

  .img-text {
    position: absolute;
    color: white;
    font-size: 80px;
    font-family: "Noto Serif Armenian", serif;
    font-family: 'Dzeragir', sans-serif;
    /* font-family: "Roboto Serif", serif; */
    font-weight: 400;
    /* text-shadow: 2px 2px 6px black; */
    z-index: 10; /* выше картинки */
    pointer-events: none;
    /* font-style: oblique; */
  }

  /* Привязка текста к конкретным изображениям */
  .text1 { top: 30%;  left: 35%; }
  .text2 { top: 33.2%;  left: 35%; letter-spacing: 7px;}
  
  /* Пример размещения картинок */
  .img1  { top: 0%;   left: 0%;  width: 95%;    height: 50%;    border-radius: 0px; }
  .img4  { top: 58%;  left: 3%;  width: 44.85%; height: 28.85%; border-radius: 40px; }
  .img5  { top: 73%;  left: 53%; width: 44.85%; height: 28.85%; border-radius: 40px; }
  .img6  { top: 103%; left: 51%; width: 44.85%; height: 28.85%; border-radius: 40px; }
  .img7  { top: 113%; left: 4%;  width: 44.85%; height: 28.85%; border-radius: 40px; }
  .img8  { top: 138%; left: 55%; width: 44.85%; height: 28.85%; border-radius: 40px; }
  .img10 { top: 168%; left: 3%;  width: 44.85%; height: 28.85%; border-radius: 40px; }
  .img11 { top: 198%; left: 50%; width: 44.85%; height: 28.85%; border-radius: 40px; }
  
  /* Содержимое поверх */
  .content-overlay {
    position: fixed;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.0);
    top: 0;
    padding-left: 68%;
    width: 30%;
    height: 35%;
    font-family: "Noto Serif Armenian", serif;
    font-weight: 300;
  }

  #extra-fields {
    display: none;
  }

  #guests {
    display: none;
  }
  
  /* Заголовок */
  header {
    text-align: center;
    padding: 8px 2px 4px;
    font-family: "Dzeragir", serif;
    font-weight: 300;
  }
  
  header h1 {
    font-size: 70px;
    margin-bottom: 0;
    font-family: "Noto Serif Armenian", serif;
    font-weight: 500;
  }
  
  header p {
    font-size: 50px;
  }

  .text-section  {
    max-width: 400px;
    margin: auto;
    padding: 30px 20px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(0, 0, 0);
    font-weight: 600;
    border-radius: 10px;
  }
  
  /* Основной текст */
  .text-section h1 {
    max-width: 400px;
    margin: auto;
    padding: 30px 20px;
    font-size: 23px;
    
    font-weight: 400;
    border-radius: 10px;
    
  }
  .text-section .p1 {
    max-width: 400px;
    margin: auto;
    padding: 30px 20px;
    font-size: 23px;
    
    font-weight: 400;
    border-radius: 10px;
  }
  .text-section .p2 {
    max-width: 400px;
    margin: auto;
    padding: 30px 20px;
    font-size: 23px;
    
    font-weight: 400;
    border-radius: 10px;
    
  }
  .text-section .p3 {
    max-width: 400px;
    margin: auto;
    padding: 30px 20px;
    font-size: 23px;
    
    font-weight: 400;
    border-radius: 10px;
    
  }
  .text-section .p4 {
    max-width: 400px;
    margin: auto;
    padding: 30px 20px;
    font-size: 23px;
    
    font-weight: 400;
    border-radius: 10px;
    
  }
  .text-section .p5 {
    max-width: 400px;
    margin: auto;
    padding: 30px 20px;
    font-size: 23px;
    
    font-weight: 400;
    border-radius: 10px;
    
  }
  .text-section .p6 {
    max-width: 400px;
    margin: auto;
    padding: 30px 20px;
    font-size: 23px;
    
    font-weight: 400;
    border-radius: 10px;
    
  }
  .text-section .p7 {
    max-width: 400px;
    margin: auto;
    padding: 30px 20px;
    font-size: 23px;
    
    font-weight: 400;
    border-radius: 10px;
    
  }

  #countdown {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #333;
  
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    border-radius: 12px;
    padding: 15px 20px;
    max-width: 300px;
    margin: 8% auto;
  
    /* box-shadow: 0 4px 12px rgba(255, 0, 0, 0.499); */
    transition: all 0.3s ease;
  }
  
  /* Форма */
  form {
    position: absolute;
    margin-top: 1.5%;
    right: 35%;
    background-color: rgba(255, 255, 255, 0.0);
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0);
    text-align: center;
    z-index: 0;
  }
  
  form h2 {
    margin-bottom: 10px;
  }

  form p {
    font-family: "Dzeragir", serif;
    font-size: 24px;
    font-weight: 100;
  }
  
  input, textarea, button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  select {
    width: 104%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #e8a87c;
    color: white;
    width: 105%;
    border: none;
    cursor: pointer;
  }
  
  /* Подвал */
  footer {
    position: absolute;
    bottom: -632%;
    right: 35%;
    width: 30%;
    text-align: center;
    /* padding: 20px; */
    font-size: 16px;
    color: #464646;
    /* margin-top: 300%; */
  }
  
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
  }
  
  .spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #999;
    border-top: 4px solid #e8a87c;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  #rotate-warning {
    display: none;
  }
  

  body.mobile-landscape > *:not(#rotate-warning) {
    display: none;
    color: rgb(255, 255, 255);
    font-size: 0px;
  }
  
  body.mobile-landscape #rotate-warning {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 24px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 9999;
  }
  

  @media (max-width: 768px) {

    body {
      height: unset;
      overflow-y: hidden;
      position: relative;
      padding: 0%;
      margin: 0;
      background-color: rgba(0,0,0,0);
    }

    #scroll-wrapper {
      position: absolute;
      width: 100%;
      padding: 0%;
      background-color: rgba(0,0,0,0);
      /* overflow-y: scroll; */
    }
    .parallax-container {
      position: relative;
      top: 0%;
      left: 0%;
      width: 100%;
      overflow-y: scroll; 
      /* height: calc(var(--vh, 1vh) * 1000); */
      background-color: rgba(0,0,0,0);
    }

    .parallax-images {
      position: absolute;  /* ← раньше было fixed */
      top: calc(var(--vh, 1vh) * 0);
      left: 0;
      width: calc(var(--vw, 1vw) * 100);
      height: calc(var(--vh, 1vh) * 400);
      z-index: 0;
      overflow-y: scroll;
      background-color: rgba(0,0,0,0);
      /* will-change: auto; */
      /* transform: translateZ(0); */
    }

    .content-overlay {
      position: relative;
      top: calc(var(--vh, 1vh) * 0);
      width: calc(var(--vw, 1vw) * 100);
      left: calc(var(--vw, 1vw) * 0);;
      z-index: 2;
      padding-left: 0%;
      width: 100%;
      height: calc(var(--vh, 1vh) * 400);
      font-family: "Noto Serif Armenian", serif;
      font-weight: 300;
      z-index: 200;
      overflow-y: scroll;
      overflow-x: hidden;
      background-color: rgba(0,0,0,0);
    }

    .parallax-images img {
      position: absolute;
      object-fit: cover;
      /* opacity: 0.3; */
      /* will-change: auto;
      transform: translateZ(0); */
      /* will-change: transform; */
    }
    .img1  { top: 0%;   left: 0%;  width: 100%;   height: 1%; border-radius: 0px; height: calc(var(--vh, 1vh) * 80); }
    .img4  { top: calc(var(--vh, 1vh) * 165);  left: 0%;  width: 60%; height: 12%; border-radius: 0px; height: calc(var(--vh, 1vh) * 63);}
    .img5  { top: calc(var(--vh, 1vh) * 235);  left: 40%;  width: 60%; height: 12%; border-radius: 0px; height: calc(var(--vh, 1vh) * 63);}
    .img6  { top: 10000%; left: 51%; width: 44.85%; height: 28.85%; border-radius: 40px; }
    .img7  { top: 10000%; left: 4%;  width: 44.85%; height: 28.85%; border-radius: 40px; }
    .img8  { top: 10000%; left: 55%; width: 44.85%; height: 28.85%; border-radius: 40px; }
    .img10 { top: 10000%; left: 3%;  width: 44.85%; height: 28.85%; border-radius: 40px; }
    .img11 { top: 10000%; left: 50%; width: 44.85%; height: 28.85%; border-radius: 40px; }

    .img-text {
      position: absolute;
      color: white;
      font-size: 80px;
      font-family: "Noto Serif Armenian", serif;
      font-family: 'Dzeragir', sans-serif;
      /* font-family: "Roboto Serif", serif; */
      font-weight: 400;
      /* text-shadow: 2px 2px 6px black; */
      z-index: 10; /* выше картинки */
      pointer-events: none;
      /* font-style: oblique; */
    }
  
    /* Привязка текста к конкретным изображениям */
    .text1 { top: calc(var(--vh, 1vh) * 45);  left: calc(var(--vw, 1vw) * 30); position: absolute;}
    .text2 { top: calc(var(--vh, 1vh) * 53);  left: calc(var(--vw, 1vw) * 30); letter-spacing: 7px;}
  

  #countdown {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: #333;
    display: flex;
    justify-content: center;
    gap: 70px;
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    border-radius: 12px;
    /* padding: 15px 20px; */
    width: calc(var(--vh, 1vh) * 50);
    max-width: calc(var(--vh, 1vh) * 50);
    margin: 6% auto;
  
    /* box-shadow: 0 4px 12px rgba(255, 0, 0, 0.499); */
    transition: all 0.3s ease;
  }

  .time-block {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }
  
  .time-block .number {
    font-size: 28px;
    font-weight: 700;
    color: #333;
  }
  
  .time-block .label {
    font-size: 16px;
    font-weight: 400;
    color: #666;
    margin-top: 4px;
  }

  header {
    text-align: center;
    font-family: "Dzeragir", serif;
    all: unset;
    position: absolute;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: calc(var(--vh, 1vh) * 40);
    top: calc(var(--vh, 1vh) * 80);
    left: 0;
    font-size: 23px;
    background-color: rgb(255, 255, 255);
    font-weight: 400;
    border-radius: 0px;
  }
  
  header h1 {
    text-align: center;
    font-size: 70px;
    margin-bottom: 0;
    font-family: "Dzeragir", serif;
    font-weight: 500;
  }
  
  header p {
    text-align: center;
    font-size: 50px;
    font-family: "Dzeragir", serif;
  }

  .text-section  {
    all: unset;
    position: absolute;
  }
  
  /* Основной текст */
  .text-section .h1 {
    all: unset;
    position: absolute;
    box-sizing: border-box;
    display: block;
    text-align: center;
    width: calc(var(--vw, 1vw) * 100);
    padding-top: 4%;
    height: calc(var(--vh, 1vh) * 12);
    top: calc(var(--vh, 1vh) * 120);
    left: 0;
    font-size: 23px;
    background-color: rgba(255, 255, 255, 1);
    font-weight: 400;
    border-radius: 0px;
    padding-top: calc(var(--vh, 1vh) * 4);
  }

  .text-section .p1 {
    all: unset;
    position: absolute;
    box-sizing: border-box;
    display: block;
    text-align: center;
    width: calc(var(--vw, 1vw) * 100);
    height: calc(var(--vh, 1vh) * 21);
    top: calc(var(--vh, 1vh) * 132);
    left: 0;
    font-size: 23px;
    background-color: rgba(202, 0, 0, 0.589);
    font-weight: 400;
    border-radius: 0px;
    padding: calc(var(--vh, 1vh) * 4);
  }
  .text-section .p2 {
    all: unset;
    position: absolute;
    box-sizing: border-box;
    display: block;
    text-align: center;
    width: calc(var(--vw, 1vw) * 100);
    height: calc(var(--vh, 1vh) * 10);
    top: calc(var(--vh, 1vh) * 153);
    left: calc(var(--vw, 1vw) * 0);
    font-size: 23px;
    background-color: rgba(24, 87, 176, 0.406);
    font-weight: 400;
    border-radius: 0px;
    padding-top: calc(var(--vh, 1vh) * 4);
  }

  .text-section .p3 {
    all: unset;
    position: absolute;
    box-sizing: border-box;
    display: block;
    text-align: center;
    width: calc(var(--vw, 1vw) * 40);
    height: calc(var(--vh, 1vh) * 48);
    top: calc(var(--vh, 1vh) * 163);
    left: calc(var(--vw, 1vw) * 60);
    font-size: 23px;
    background-color: rgba(49, 174, 68, 0.641);
    font-weight: 400;
    border-radius: 0px;
    padding-top: calc(var(--vh, 1vh) * 5);
  }

  .text-section .p4 {
    all: unset;
    position: absolute;
    box-sizing: border-box;
    display: block;
    text-align: center;
    width: calc(var(--vw, 1vw) * 100);
    height: calc(var(--vh, 1vh) * 20);
    top: calc(var(--vh, 1vh) * 211);
    left: 0;
    line-height: 30px;
    font-size: 23px;
    background-color: rgba(107, 25, 96, 0.398);
    font-weight: 400;
    border-radius: 0px;
  }
  .text-section .p5 {
    all: unset;
    position: absolute;
    box-sizing: border-box;
    display: block;
    text-align: center;
    width: calc(var(--vw, 1vw) * 40);
    padding-top: 2%;
    height: calc(var(--vh, 1vh) * 48);
    top: calc(var(--vh, 1vh) * 231);
    left: 0;
    line-height: 30px;
    font-size: 20px;
    background-color: rgba(68, 144, 125, 0.534);
    font-weight: 400;
    border-radius: 0px;
    padding-top: calc(var(--vh, 1vh) * 5);
  }

  .text-section .p6 {
    all: unset;
    position: absolute;
    box-sizing: border-box;
    display: block;
    text-align: center;
    width: calc(var(--vw, 1vw) * 100);
    padding-top: 2%;
    height: calc(var(--vh, 1vh) * 15);
    top: calc(var(--vh, 1vh) * 279);
    left: 0;
    line-height: 30px;
    font-size: 20px;
    background-color: rgba(185, 107, 125, 0.279);
    font-weight: 400;
    border-radius: 0px;
    padding-top: 50px;
  }
  .text-section .p7 {
    all: unset;
    position: absolute;
    box-sizing: border-box;
    display: block;
    text-align: center;
    width: calc(var(--vw, 1vw) * 100);
    padding-top: 2%;
    height: calc(var(--vh, 1vh) * 15);
    top: calc(var(--vh, 1vh) * 294);
    left: 0;
    line-height: 30px;
    font-size: 20px;
    background-color: rgba(83, 121, 135, 0.472);
    font-weight: 400;
    border-radius: 0px;
    padding-top: 50px;
  }

  form {
    all: unset;
    position: absolute;
    margin-top: unset;
    height: calc(var(--vh, 1vh) * 10);
    top: calc(var(--vh, 1vh) * 323);
    background-color: rgb(255, 255, 255);
    width: calc(var(--vw, 1vw) * 100);
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0);
    text-align: center;
    z-index: 10;
  }
  
  form h2 {
    text-align: center;
    width: calc(var(--vw, 1vw) * 85);
    margin: 10px auto;
  }

  input, textarea, button {
    width: calc(var(--vw, 1vw) * 85);
    margin: 10px auto;
    background-color: #ffffff;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  select {
    width: calc(var(--vw, 1vw) * 88);
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  button {
    background-color: #e8a87c;
    color: white;
    width: calc(var(--vw, 1vw) * 75);
    border: none;
    cursor: pointer;
  }
  
  /* Подвал
  footer {
    position: absolute;
    margin-top: 0;
    height: auto;
    bottom: unset;
    right: unset;
    top: 67%;
    width: 100%;
    text-align: center;
    margin-top: 6%;
    padding: 20px;
    font-size: 16px;
    color: #464646;
  }
   */
  }